receivers:
  otlp:
    protocols:
      http:
        endpoint: 0.0.0.0:4318
      grpc:
        endpoint: 0.0.0.0:4317

exporters:
  file:
    path: ./traces.jsonl
    rotation:
      max_megabytes: 100
      max_days: 7
      localtime: true
    format: json

processors:
  batch:

service:
  telemetry:
      metrics:
        level: none
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [file]